*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  margin: 133px 30px;
  gap: 30px;
}

.result__video-container {
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 0px;
}

.search-form__fieldset {
  border: none;
  width: 225px;
}

.search-form__fieldset:nth-child(2) .search-form__fieldset-title {
  padding-left: 10px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: normal;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
}

.search-form__label:hover {
  text-decoration: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield {
  width: 100%;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: none;
  border-right: none;
  color: #ffffff;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-left: 10px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  overflow-y: auto;
  height: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__list {
  display: grid;
  grid-template-columns: 2fr;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  max-width: 198px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 30px;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-description {
  line-height: 16.2px;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 198px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 6px 73px;
  min-height: 34px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.more-button {
  width: 100%;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
